body {
    background: red;
}

#upvote-btn {
    position: relative;
    left: 400px;
    top: 460px;
}

#downvote-btn {
    position: relative;
    left: 550px;
    top: 480px;
}
div {
    position: relative;
    left: 650px;

}


#upvote-count {
    position: relative;
    left: 430px;
    top: 440px;
}
#downvote-count {
    position: relative;
    left: 430px;
    top: 455px;
}
ul {
    position: relative;
    left: 1000px;
    top: 20px;
}


img {
    position: relative;
    width: 200px;
    left: 10px;
    top: 5px;
}
#commentInput {
    position: relative;
    left: 500px;
    top: 10px;

}

#button {
    position: relative;
    left: 500px;
    top: 10px;
}

h1 {
    position: relative;
    left: 800px;
}